.sidebar {
  height: 100%;
  flex: 1;
  margin-left: 225px;
  margin-right: 10px;
  position: sticky;
  top: 50px;
}

@media only screen and (max-width: 992px) {
  .sidebar {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }
}
